extends ./layout

block body
  .container
    h2.form-signin-heading your img
    img(src='/assets/images/1d2dfd5d-ccc7-4894-bb37-1ec60f9a2176.png')
//home/zpeng/zpeng/sailsSample/.tmp/uploads/e467fb4c-e4a9-4caa-84fe-1db8921acf72.png
block scripts
